{
  "astroOrganizeImportsMode": "All",

  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],

  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss", "prettier-plugin-astro-organize-imports"],

  "printWidth": 130,

  "useTabs": false
}
